mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
mixin rated(number,name)
	if(number || name)
		.rated(class=name data-rateyo-read-only="true" data-rateyo-rating=number)
	else
		.rated(data-rateyo-read-only="true" data-rateyo-rating='4.5')
mixin title(titleOne, titleTwo, text)
	.section-head
		h2.section-title
			span.section-title__text=titleOne
			span.section-title__text.section-title__text--color-blue=titleTwo
		span.section-desc=text